body {
  background: #0a0a0a;
  color: #d0d5d9;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #d0d5d9;
}

ul {
  margin: 0;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #000000;
    border: 1px solid #ced4da;
    border-radius: 3px;
}
a {
    color: #e9ecefe8;
    text-decoration: none;
    background-color: rgb(2 7 90 / 8%);
}
a:hover {
  color: #54ca42;
}

.bg-black {
  color: #818182;
  background-color:#d0d5d9 ;
}

.bg-steel {
  background-color: #000000;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #fffff;
  padding: 10px 20px;
  border: 1px solid #bed4ff;
  border-radius: 3px;
  margin-bottom: 20px;
}

.content-spin {
  width: 100%; /* Adjusted to 100% */
  height: 50%; /* Adjusted to 100% */

  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  position: relative; /* Changed to relative */
  z-index: -1;

  /* Removed the background property to keep the gradient */
  padding: 10px 20px;
  border: 10px solid #bed4ff;
  border-radius: 20px;
  margin-bottom: 10px;
}
.content-spin::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: relative;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 100s linear infinite;
}
.content-spin::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 7s linear infinite;
}
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


}
.article-title {
  color: #d0d5d9;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
