
{% extends "troll/base.html" %}
{% block content %}

<form method="POST">
  {% csrf_token %}
  <h1>Crypto investment</h1>
  <h5>your current score: {{ score }}</h5>
  <label for="player_input">Enter your score you want to invest in crypto:</label>
  <input type="number" id="player_input" name="player_input" min="1" max="{{ score }}" required>
  <button type="submit">Submit</button>
</form>
<body>
<hr>
  <h6>This is our first currency i have made. Warning: It has a chance to drop rappitly. The chance is crypto to fall or grow  beteween 0.1 and
  1.8 times. </h6>
  <img src="https://i.gifer.com/FBZn.gif" alt="Animation">

</body>
{% endblock content %}