
{% extends "troll/base.html" %}
{% block content %}

<form method="POST">
  {% csrf_token %}
  <h1>Thorton investment</h1>
  <h5>your current score: {{ score }}</h5>
  <label for="player_input">Enter your score you want to invest in Thorton:</label>
  <input type="number" id="player_input" name="player_input" min="1" max="{{ score }}" required>
  <button type="submit">Submit</button>
</form>
<body>
<hr>
  <h6>This is our second currency i have made. Warning: It has chanches to drop but not as much as crypto does. The chance is to fall or grow  beteween 0.5 and
  1.3 times. </h6>
  <img src="https://assets-global.website-files.com/5da60733afec9db1fb998273/5daf6c1c11163834640922b3_nonprofit-gifs-header-1.gif.pagespeed.ce.3nvBqB7N98.gif" class="ribbon" alt="" style="width:700px;height150px" />

</body>
{% endblock content %}